{% extends 'home/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Ласкаво просимо на наш сайт оголошень!</p>
        <p>Ми створили цей ресурс для зручного купівлі, продажу та обміну товарами та послугами. Наша місія — об'єднати людей, які шукають вигідні пропозиції, та тих, хто має що запропонувати.</p>
        <p>Що ми пропонуємо:</p>
        <p>Безкоштовне розміщення оголошень: Публікуйте оголошення безкоштовно незалежно від категорії.</p>
        <p>Широкий вибір категорій: Від автомобілів до нерухомості — у нас знайдеться все.</p>
        <p>Безпека: Ми забезпечуємо конфіденційність ваших даних.</p>
        <p>Сподіваємось, наш сайт допоможе вам знайти необхідне чи продати зайве. Дякуємо, що обрали нас!</p>
        <a href="{% url 'news_home' %}" class="btn btn-warning btn-custom">До оголошень</a>
    </div>
{% endblock %}
