{% extends 'home/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main>
        <div class="features">
            <h1>{{ title }}</h1>
            <p>Ласкаво просимо до нашого сайту оголошень! Ми надаємо платформу для купівлі, продажу та обміну товарами та послугами. Наша мета — забезпечити зручний доступ до вигідних пропозицій, що допомагає людям знайти необхідні речі без зайвих зусиль.</p>
            <p>Наш сайт має простий у використанні інтерфейс, який дозволяє легко знаходити та переглядати оголошення. Ви можете шукати за категоріями, регіонами або використовувати функцію пошуку для швидкого доступу до товарів. Наша платформа дозволяє продавцям швидко та ефективно розміщувати свої пропозиції, а покупцям — знаходити найкращі угоди.</p>
            <p>Досліджуйте наші категорії, щоб знайти саме те, що вам потрібно, або розмістіть своє оголошення безкоштовно! Не забудьте підписатися на наші новини, щоб бути в курсі останніх оновлень і акцій.</p>
            <p>Ми прагнемо забезпечити максимальну безпеку для наших користувачів, тому всі оголошення проходять перевірку. Якщо у вас є запитання або ви потребуєте допомоги, не соромтеся зв’язатися з нашою службою підтримки.</p>
            <a href="{% url 'about' %}" class="btn btn-warning btn-custom">На сторінку про нас</a>
            <a href="{% url 'news_home' %}" class="btn btn-warning btn-custom">До оголошень</a>
        </div>
    </main>
{% endblock %}
